@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    background-color: #f0eada;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 35px;
    padding: 0px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav-item a {
    text-decoration: none;
    color: #000000
}

.home {
    display: flex;
}

.home .left {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.home img {
    width: 25px;
}

.number {
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #054f48;
    margin: 0;
}

.hunger {
    width: 80%;
    font-family: 'Roboto';
}

.home-btn {
    display: flex;
    align-items: center;
}

.order {
    background-color: #054f48;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: 'Roboto';
    color: white;
}

.play-icon {
    padding: 10px;
    border: 2px #054f48 solid;
    border-radius: 30px;
    margin: 0px 15px;
}

.adds {
    display: flex;
}

.left-add {
    width: 45%;
    border-radius: 15px;
    background-color: rgb(5, 79, 72);
    height: 450px;
    text-align: center;
    position: relative;
    margin: 10px 30px;
    color: rgb(255, 203, 69);
}

.burger {
    width: 400px;
}

.visa {
    width: 131px;
    right: 0;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.friday {
    font-family: 'roboto', sans-serif;
    font-size: 35px;
    margin: 0;
    position: absolute;
    transform: translate(120px, 70px);
    font-weight: 600;
}

.burger {
    width: 480px;
    position: absolute;
    left: -10px;
    bottom: -25px;
}

.off {
    font-size: 35px;
    font-weight: bolder;
    color: #054f48;
    background-color: #ffcb45;
    width: 180px;
    height: 90px;
    border-radius: 180px / 90px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    line-height: 2.5;
}

.tasty {
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    transform: translate(40px, 60px);
    text-shadow: 4px 4px 1px rgb(0 0 0 / 60%);
}

.right-add {
    width: 45%;
    margin: 10px 25px;
}

.top-add {
    width: 100%;
    background-color: #ffcb45;
    height: 48%;
    position: relative;
    border-radius: 15px;
}

.indonesia {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    transform: translate(228px, -18px);
    margin: 0;
    z-index: 1;
    background-color: #054f48;
    color: #ffcb45;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    padding: 5px 0px;
}

.land {
    font-size: 39px;
    font-weight: bold;
    width: 50%;
    transform: translate(40px, 15px);
    margin: 0;
    color: #054f48;
    text-shadow: 1px 1px white;
    z-index: 1;
    position: inherit;
}

.fish {
    width: 150px;
    position: absolute;
    transform: translate(225px, -190px);
}

.evil {
    width: 130px;
    position: absolute;
    transform: translate(358px, -205px);
}

.bottom-add {
    width: 100%;
    background-color: #a41c1c;
    height: 48%;
    position: relative;
    border-radius: 15px;
    margin-top: 15px;

}

.delev {
    width: 270px;
    position: absolute;
    transform: translate(-20px, -54px);
    z-index: 1;
}

.customer {
    color: white;
    font-size: 15px;
    position: absolute;
    transform: translate(165px, 3px);
    z-index: 2;
    font-weight: bold;
}

.free {
    position: absolute;
    font-size: 60px;
    width: 100px;
    transform: translate(164px, -30px);
    font-weight: bold;
    z-index: 2;
    color: #ffcb45;
    text-shadow: 3px 3px #054f48;
}

.promo {
    color: #054f48;
    background-color: #ffcb45;
    width: 265px;
    border-radius: 10px;
    position: absolute;
    transform: translate(163px, 160px);
    text-align: center;
    z-index: 2;
    font-family: 'roboto', sans-serif;
    padding: 5px 0px;
    line-height: 1;
    font-weight: bold;
}

.service-text {
    text-align: center;
    font-family: sans-serif;
}

.serv {
    font-weight: bold;
}

.serv-text {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 50px;
    padding: 0px 250px;
}

.serv-lorem {
    padding: 10px 245px;
}

.services-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
    margin: 10px;
}

.item .yellow {
    width: 180px;
    border-radius: 90px;
    background-color: #ffce47;
    height: 180px;
}

.item .green {
    width: 180px;
    border-radius: 90px;
    background-color: #054f48;
    height: 180px;
}

.menu-text {
    text-align: center;
    font-weight: bold;
}

.craving {
    font-size: 30px;
}

.scroll::-webkit-scrollbar {
    height: 6px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #f5f1e5;
    margin: 0px 300px;
    border-radius: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #054f48;
    border-radius: 3px;
}

.scroll {
    overflow-x: scroll;
    margin: 10px 30px;
}

section {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.icon {
    text-align: center;
    border: 2px #054f48 solid;
    width: auto;
    border-radius: 20px;
    margin: 0px 10px;
}
.icon:hover {
    background-color: #054f48;
    color: #ffffff;
}

.line::before {
    content: "|";
    color: #054f48;
    font-size: 24px;
    transform: translateX(-50%);
    font-weight: bold;

}

.icon img {
    width: 30px;
    height: 25px;
    margin: 1.5px 25px;
    display: flex;
}

.icon p {
    margin: 5px 30px;
}

.menu-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.poster {
    background-color: #054f48;
    padding: 30px 10px;
    width: 268px;
    border-radius: 10px;
    overflow: hidden;
}

.today {
    font-size: 45px;
    margin: 0;
    text-align: center;
    color: #eef985;
}

.poster-text {
    color: white;
    text-align: center;
}

.dish {
    position: relative;
    padding: 104px 1px;
}

.dish img {
    width: 30%;
    border-radius: 10px;
}

.dish1 {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: -413px;
    left: 37px;
    transform: rotate3d(-25, 8, 5, 46deg);
}

.dish2 {
    position: absolute;
    z-index: 2;
    left: 143px;
    top: 104px;
    right: -350px;
    transform: rotate3d(13, -49, 2, -1deg);
}

.dish3 {
    position: absolute;
    z-index: 1;
    right: -230px;
    left: -56px;
    top: 57px;
    transform: rotate3d(45, -28, 1, 44deg);
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    margin: 20px 5px;
}

.card img {
    width: 122px;
    border-radius: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #054f48;
}

.plus {
    margin: 50px 0px 0px 15px;
}

.plus img {
    width: 30px;
    height: 30px;
    background-color: #054f48;
    border-radius: 50%;
}

.feed-text {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.bold-text {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.item1 img {
    width: 100px;
    border-radius: 50px;
}

.feedbacks {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feedback {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-bottom: 25px;
}

.user {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.about {
    width: 66%;
    font-family: sans-serif;
}

.name {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 25px;
}

.jop {
    font-size: 15px;
    color: #928f90;
    font-weight: bold;
}

.user-img {
    width: 85px;
}

.user-img img {
    width: 100%;
    border-radius: 45px;
}

.online {
    display: flex;
    justify-content: center;
}

.online-imgs {
    background-color: white;
    border-radius: 30px;
    position: relative;
}

.online img {
    width: 50px;
    border-radius: 50%;
}

.img1 {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.img2 {
    position: absolute;
    right: -20px;
}

.img3 {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.img4 {
    position: absolute;
    z-index: 3;
    left: 50px;
    border-radius: 50%;
    background-color: #054f48;
    width: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.map {
    width: 100%;
}

.blur-map {
    display: flex;
}

.content {
    background-color: #ffcb45;
    height: 350px;
    width: 40%;
    position: absolute;
    font-family: 'roboto', sans-serif;
    padding: 0px 20px 0px 50px;
}

.find {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.explore {
    text-align: center;
    background-color: #054f48;
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin-top: 35px;
}

.outlet {
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}

.social {
    margin-top: 50px;
}

.social img {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}


.blur {
    background-image: linear-gradient(to right, rgb(255 203 69), rgb(255 0 0 / 0%));
    width: 200px;
    height: 350px;
    position: absolute;
    top: 0;
    right: -200px;
}

.map iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 70px;
    color: #ffffff;
    background-color: #054f48;
    height: 203px;
    font-family: 'Roboto', sans-serif;
}

.foot-up {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.foot-down {
    width: 310px;
    font-weight: 100;
}

.footer3 {
    display: flex;
    flex-direction: column;
}

.footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.links {
    font-weight: bold;
}