body {
    background-color: #f0eada;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 35px;
}

.logo img {
    width: 70px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 10px;
    font-size: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #000000
}

.service-text {
    text-align: center;
    font-family: sans-serif;
}

.serv {
    font-weight: bold;
}

.serv-text {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 50px;
    padding: 0px 250px;
}

.serv-lorem {
    padding: 10px 245px;
}

.services-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
}

.item .yellow {
    width: 110px;
    border-radius: 55px;
    background-color: #ffce47;
    height: 110px;
}

.item .green {
    width: 110px;
    border-radius: 55px;
    background-color: #013d39;
    height: 110px;
}

.menu-text {
    text-align: center;
    font-weight: bold;
}

.craving {
    font-size: 30px;
}

.scroll::-webkit-scrollbar {
    height: 6px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #f5f1e5;
    margin: 0px 300px;
    border-radius: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #013d39;
    border-radius: 3px;
}

.scroll {
    overflow-x: scroll;
    margin: 10px 30px;
}

section {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.icon {
    text-align: center;
    border: 2px #013d39 solid;
    width: auto;
    border-radius: 20px;
    margin: 0px 10px;
}
.icon:hover {
    background-color: #013d39;
    color: #ffffff;
}

.line::before {
    content: "|";
    color: #013d39;
    font-size: 24px;
    transform: translateX(-50%);
    font-weight: bold;

}

.icon img {
    width: 30px;
    height: 25px;
    margin: 1.5px 25px;
    display: flex;
}

.icon p {
    margin: 5px 30px;
}

.menu-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.poster {
    background-color: #013d39;
    padding: 30px 10px;
    width: 268px;
    border-radius: 10px;
    overflow: hidden;
}

.today {
    font-size: 45px;
    margin: 0;
    text-align: center;
    color: #eef985;
}

.poster-text {
    color: white;
    text-align: center;
}

.dish {
    position: relative;
    padding: 104px 1px;
}

.dish img {
    width: 30%;
    border-radius: 10px;
}

.dish1 {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: -413px;
    left: 37px;
    transform: rotate3d(-25, 8, 5, 46deg);
}

.dish2 {
    position: absolute;
    z-index: 2;
    left: 143px;
    top: 104px;
    right: -350px;
    transform: rotate3d(13, -49, 2, -1deg);
}

.dish3 {
    position: absolute;
    z-index: 1;
    right: -230px;
    left: -56px;
    top: 57px;
    transform: rotate3d(45, -28, 1, 44deg);
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    margin: 20px 5px;
}

.card img {
    width: 122px;
    border-radius: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #013d39;
}

.plus {
    margin: 50px 0px 0px 15px;
}

.plus img {
    width: 30px;
    height: 30px;
    background-color: #013d39;
    border-radius: 50%;
}

.feed-text {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.bold-text {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.item1 img {
    width: 100px;
    border-radius: 50px;
}

.feedbacks {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feedback {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-bottom: 25px;
}

.user {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.about {
    width: 66%;
    font-family: sans-serif;
}

.name {
    font-weight: bolder;
    font-family: sans-serif;
}

.user-img {
    width: 85px;
}

.user-img img {
    width: 100%;
    border-radius: 45px;
}

.online {
    display: flex;
    justify-content: center;
}

.online-imgs {
    background-color: white;
    border-radius: 30px;
    position: relative;
}

.online img {
    width: 50px;
    border-radius: 50%;
}

.img1 {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.img2 {
    position: absolute;
    right: -20px;
}

.img3 {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.img4 {
    position: absolute;
    z-index: 3;
    left: 50px;
    border-radius: 50%;
    background-color: #013d39;
    width: 50px;
    text-align: center;
    color: white;
}